@font-face {
  font-family: 'IBM Plex mono';
  src: url(./IBMPlexMono-Regular.woff) format('woff');
  src: url(./IBMPlexMono-Regular.woff2) format('woff2');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex mono';
  src: url(./IBMPlexMono-Bold.woff) format('woff');
  src: url(./IBMPlexMono-Bold.woff2) format('woff2');
  font-weight: bold;
  font-display: swap;
}
