*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
  font-family: var(--main-text-font, 'Monospace', sans-serif);
  font-size: 16px;
  line-height: var(--main-line-height, 1.3);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: transparent;
  border: none;
  text-decoration: none;
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

:focus-visible {
  outline: none;
}

a:focus {
  outline: none;
}