:root.theme-light {
  --cover-img: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --accent-color: var(--main-text-color);
  --h1-text-color: #ffc2e6;
  --h2-text-color: #353430;
  --header-text-color: var(--main-text-color);
  --main-text-color: #353430;
  --shadow-color: #ff8dcb;
  --footer-shadow-color: #ff0070;
  --title-bg: #ff8dcb;
  --button-hover-color: rgb(50 49 45 / 0.4);
  --button-active-color: rgba(53, 52, 48, 1);
  
}

@media (prefers-color-scheme: light) {
  :root {
    --cover-img: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --accent-color: var(--main-text-color);
    --h1-text-color: #ffc2e6;
    --h2-text-color: #353430;
    --header-text-color: var(--main-text-color);
    --main-text-color: #353430;
    --shadow-color: #ff8dcb;
    --footer-shadow-color: #ff0070;
    --title-bg: #ff8dcb;
    --button-hover-color: rgb(50 49 45 / 0.4);
    --button-active-color: rgba(53, 52, 48, 1);
  }

  .header__decoration-sign {
    display: none;
  }

}