/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--cover-img);
  background-repeat: no-repeat;
  background-position: cover;
  background-attachment: fixed;
  font-family: 'IBM Plex mono';
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
}
